scopeName: "source.noon"
name: "noon"
fileTypes: [
    "noon"
]
patterns: [
    {
        match: "^\\s*(\\.)\\s*$"
        captures:
            "1":
                name: "punctuation.array.noon"
    }
    {
        match: "^\\s*([\\|])([^\\|]*)([\\|])"
        captures:
            "1":
                name: "punctuation.key.escape.noon"
            "2":
                name: "entity.key.noon"
            "3":
                name: "punctuation.key.escape.noon"
    }
    {
        match: "^\\s*([\\|])([^\\|]*)$"
        captures:
            "1":
                name: "punctuation.key.escape.noon"
            "2":
                name: "entity.key.noon"
    }
    {
        match: "^\\s*((\\S|\\s(?!\\s))+)"
        captures:
            "1":
                name: "entity.key.noon"
    }
    {
        match: "\\s+(\\.+)\\s+(\\S+)"
        captures:
            "1":
                name: "punctuation.dense.noon"
            "2":
                name: "key.dense.noon"
    }
    {
        match: "(\\|)(.+)(\\|)"
        captures:
            "1":
                name: "punctuation.value.escape.noon"
            "3":
                name: "punctuation.value.escape.noon"
    }
    {
        match: "(\\|\\|)"
        captures:
            "1":
                name: "punctuation.value.escape.noon"
    }
    {
        match: "(\\|)(.+)"
        captures:
            "1":
                name: "punctuation.value.escape.noon"
    }
    {
        match: "(#[0-9a-f][0-9a-f][0-9a-f]([0-9a-f][0-9a-f][0-9a-f])?)"
        name: "constant.color.noon"
    }
    {
        match: "\\b([1-9]+[0-9]*|0)(\\b|$)"
        name: "constant.integer.noon"
    }
    {
        match: "\\b(true|false|null)\\b"
        name: "constant.language.noon"
    }
    {
        match: "([\\[\\]\\{\\}\\(\\)])"
        name: "punctuation.bracket.noon"
    }
    {
        match: "([\\.\\/]+)"
        captures:
            "1":
                name: "punctuation.dot.noon"
    }
    {
        match: "([\\-\\\\])"
        captures:
            "1":
                name: "punctuation.dim.noon"
    }
    {
        match: "((\\s[\\^])|[\\$])"
        captures:
            "1":
                name: "punctuation.regex.noon"
    }
]